In [1]:
(60 +(10**2)/4*7)-134.75

100.25

In [2]:
4*(6+5)

44

In [3]:
4+6*5

34

In [5]:
100**.5
#square root

10.0

In [8]:
s ="hello"
#grab e
s[1]

'e'

In [10]:
s ='hello'
#reverse the string using slicing

s[::-1]

'olleh'

In [12]:
s = 'hello'
#print the letter o

s[-1]
s[4]

'o'

In [13]:
[0]*3

[0, 0, 0]

In [15]:
list2 = [0,0,0]
list2

[0, 0, 0]

In [20]:
list3 = [1,2,[3,4,'hello']]
list3

[1, 2, [3, 4, 'hello']]

In [23]:
list3[2][2] = 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

In [25]:
list4 = [5,3,4,6,1]
list4

[5, 3, 4, 6, 1]

In [26]:
sorted(list4)

[1, 3, 4, 5, 6]

In [28]:
list4.sort()
list4

[1, 3, 4, 5, 6]

In [32]:
d = {'simple_key':'hello'}
#grab hello
d['simple_key']

'hello'

In [34]:
d = {'k1':{'k2':'hello'}}
#grab hello
d['k1']['k2']

'hello'

In [35]:
#getting a little trickier
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [37]:
# extract hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [40]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [42]:
t = (1,2,3)
t

(1, 2, 3)

In [43]:
list5 = {1,22,33,4,4,11,22,3,3,2}

In [44]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [ ]:
#booleans
#2>3
#3<=2
#3.0 == 3
#4**.5 !=2

In [47]:
l_one =[1,2,[3,4]]
l_two = [1,2,{'k1':4}]

#true or false
l_one[2][0] >= l_two[2]['k1']
#false

False